@import "tailwindcss";
body {
  font-family: sans-serif;
  background: #0b0b0b;
  color: white;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 2rem;
}

.header {
  margin-bottom: 2rem;
}

.controls {
  margin-bottom: 2rem;
}

.orderbook {
  display: flex;
  justify-content: space-between;
}
